 body {
        font-family: 'Inter', sans-serif;
        background: #f8faff;
        padding: 40px;
        color: #333;
    }

    .container {
        max-width: 650px;
        margin: 0 auto;
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
        padding: 36px 40px;
    }

    h2 {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #333;
        margin-bottom: 28px;
        font-size: 24px;
    }

    h2 span {
        background: #f1edff;
        color: #5613f1ff;
        border-radius: 10px;
        padding: 8px;
        font-size: 20px;
    }

    .info-item {
        background: #faf9ff;
        border-radius: 12px;
        padding: 14px 18px;
        border-left: 4px solid #5613f1ff;
        margin-bottom: 14px;
    }

    .info-label {
        font-weight: 600;
        color: #5613f1ff;
        margin-bottom: 4px;
        display: block;
        font-size: 14px;
    }

    .info-value {
        color: #333;
        font-size: 15px;
        line-height: 1.5;
    }

    .back-btn {
        display: inline-block;
        margin-top: 25px;
        padding: 10px 20px;
        background: #f7f3ff;
        color: #5a32b5;
        border-radius: 12px;
        font-weight: 600;
        text-decoration: none;
        transition: background 0.2s;
    }

    .back-btn:hover {
        background: #ece3ff;
    }
    #escolherImagem  {
       display: none;
    }
    label[for="escolherImagem"] {
        display: inline-block;
        padding: 6px 20px;
        background: #6b46c1;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        transition: background 0.2s;
        margin-left: 10px;
    }